*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}

@font-face {
  font-display: swap;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v31-latin-900.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2");
}
.hero-btn {
  border-radius: 0.6rem;
  padding: 1.5rem 0;
  font-weight: 900;
  color: #fefcf7;
  font-size: 1.8rem;
  background-color: #0e8784;
  font-family: "Fraunces", cursive;
  transition: 0.3s;
}
.hero-btn:hover {
  background-color: #66d2cf;
}

.hero-btn {
  padding-left: 3.1rem;
  padding-right: 3.1rem;
}

.footer-container {
  background-color: #2c343e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.7rem 8.5rem;
}

.footer-menu {
  display: flex;
  align-items: center;
  gap: 10.2rem;
}

.footernav_list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.footernav__link {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 700;
  color: #83888f;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.footernav__link:hover {
  color: rgb(83, 83, 83);
}

.media {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.media__icon:hover path {
  fill: #fdd6ba;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 6.5rem;
    padding: 5.4rem 19rem 5.4rem 21.5rem;
  }
  .footer-menu {
    flex-direction: column;
    align-items: center;
    gap: 3.4rem;
  }
}
@media screen and (max-width: 400px) {
  .footer-container {
    padding: 5.4rem 5.5rem;
  }
  .footernav_list {
    flex-direction: column;
    gap: 1.4rem;
  }
}
.header {
  padding: 4.3rem 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitenav__list {
  display: flex;
  gap: 3.3rem;
}

.sitenav__link {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #83888f;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.sitenav__link:hover {
  color: hwb(215 20% 71%);
}

.navbar-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 4rem 5.3rem;
  }
}
@media screen and (max-width: 400px) {
  .header {
    padding: 3.2rem 4rem;
  }
  .site-logo__image {
    width: 16.3rem;
    height: 1.8rem;
  }
  .sitenav {
    display: none;
  }
  .navbar-toggle {
    display: block;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}
.hero-container {
  margin-top: 4.3rem;
  background-image: url(../images/home/desktop/image-hero-coffeepress.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
  border-radius: 1.5rem;
}

.hero-article {
  padding-top: 11.7rem;
  padding-left: 8.5rem;
}

.hero-article h1 {
  font-family: "Fraunces", cursive;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1;
  color: #fefcf7;
  width: 49.3rem;
  margin-bottom: 3.2rem;
}

.hero-article p {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #fefcf7;
  width: 44.5rem;
  margin-bottom: 3.2rem;
}

.collection__container {
  padding: 3.7rem 8.5rem;
}

.collection__article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 3rem;
}

.colection__card {
  text-align: center;
  color: hwb(215 20% 71%);
}

.collection__card__title {
  margin-top: 7rem;
  font-family: "Fraunces", cursive;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.3;
}

.collection__card__description {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: 2.4rem;
}

.why__container {
  margin-top: 20rem;
  background-image: url(../images/plan/desktop/bg-steps.png);
  background-color: hwb(215 20% 71%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  height: 57.7rem;
}

.why__article {
  text-align: center;
  color: #fefcf7;
  padding-left: 37rem;
  padding-right: 37rem;
  padding-top: 10rem;
}

.why__article__title {
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.why__article__description {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  opacity: 0.8;
}

.why__quality {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
  padding-left: 8.5rem;
  padding-right: 8.5rem;
  margin-top: 8.6rem;
}

.why__quality__card {
  background-color: #0e8784;
  color: #fefcf7;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 7.2rem 4.8rem 4.8rem 4.8rem;
  border-radius: 1rem;
}

.why__quality__img_fix {
  -o-object-fit: contain;
     object-fit: contain;
}

.why__quality__title {
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.3;
  margin-top: 5.6rem;
}

.why__quality__description {
  font-weight: 400;
  margin-top: 2.4rem;
}

.how-works__container {
  margin-top: 35.1rem;
  padding-left: 8.5rem;
  padding-right: 15rem;
}

.how-works__container__article {
  font-size: 2.4rem;
  line-height: 1.3;
  font-weight: 900;
  font-family: "Fraunces", cursive;
  color: #83888f;
}

.how-works__box {
  margin-top: 8rem;
}

.how-works__box__line {
  max-width: 104.5rem;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2px;
  background-color: #fdd6ba;
}

.how-works__box__line span {
  display: inline-block;
  width: 31px;
  height: 31px;
  background-color: #fff;
  border: 2px solid #0e8784;
  border-radius: 50%;
}

.how-works__infobox {
  margin-top: 8.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 9.5rem;
}

.how-works__card__number {
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 7.2rem;
  line-height: 1;
  color: #fdd6ba;
}

.how-works__card__article {
  margin-top: 3.2rem;
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.125;
  color: hwb(215 20% 71%);
  width: 25.5rem;
}

.how-works__card__description {
  margin-top: 4.2rem;
}

.how-works__btn {
  margin-top: 6.4rem;
  margin-bottom: 20rem;
}

@media screen and (max-width: 768px) {
  .hero-container {
    margin-top: 5.3rem;
    background-image: url(../images/home/tablet/image-hero-coffeepress.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    border-radius: 1.5rem;
  }
  .hero-article {
    padding-top: 10.4rem;
    padding-left: 5.8rem;
  }
  .hero-article h1 {
    font-size: 4.8rem;
    line-height: 1;
    width: 32.9rem;
    margin-bottom: 2.4rem;
  }
  .hero-article p {
    font-size: 1.5rem;
    line-height: 1.6;
    width: 39.8rem;
    margin-bottom: 4rem;
  }
  .collection__container {
    margin-top: 14.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .collection__article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
  .colection__card {
    text-align: start;
    max-width: 57.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection__card__title {
    margin-top: 0;
  }
  .collection__card__description {
    margin-top: 2.4rem;
    max-width: 28.2rem;
  }
  .why__article {
    padding-left: 7.4rem;
    padding-right: 7.4rem;
    padding-top: 5.6rem;
  }
  .why__quality {
    padding-left: 5.8rem;
    padding-right: 5.8rem;
    margin-top: 7rem;
  }
  .why__quality__card {
    flex-direction: row;
    gap: 5.5rem;
    padding: 4.1rem 4.8rem 4.1rem 7rem;
    text-align: start;
  }
  .why__quality__title {
    margin-top: 0;
  }
  .why__quality__description {
    margin-top: 1.6rem;
  }
  .how-works__box {
    margin-top: 4rem;
  }
  .how-works__container {
    margin-top: 43.4rem;
    padding: 0 1.5rem;
  }
  .how-works__infobox {
    margin-top: 4.8rem;
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
    gap: 0.5rem;
  }
  .how-works__card__article {
    margin-top: 4.2rem;
    width: 22.3rem;
  }
  .how-works__card__description {
    width: 22.3rem;
    margin-top: 3.8rem;
  }
}
@media screen and (max-width: 400px) {
  .hero-container {
    margin-top: 4rem;
    background-image: url(../images/home/mobile/image-hero-coffeepress.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    border-radius: 1.5rem;
  }
  .hero-article {
    padding: 10rem 1.4rem;
    text-align: center;
  }
  .hero-article h1 {
    font-family: "Fraunces", cursive;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
    color: #fefcf7;
    width: 27.9rem;
    margin-bottom: 2.4rem;
  }
  .hero-article p {
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: #fefcf7;
    width: 27.9rem;
    margin-bottom: 4rem;
  }
  .collection__container {
    padding: 0;
    margin-top: 12rem;
  }
  .colection__card {
    text-align: center;
    color: hwb(215 20% 71%);
    max-width: 57.3rem;
    display: flex;
    flex-direction: column;
  }
  .collection__article {
    gap: 4.8rem;
  }
  .collection__card__title {
    margin-top: 0;
  }
  .collection__card__description {
    margin-top: 2.4rem;
    max-width: 28.2rem;
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .why__container {
    height: 90.2rem;
  }
  .why__article {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 6.4rem;
  }
  .why__article__title {
    font-size: 2.8rem;
    line-height: 1;
    margin-bottom: 2.4rem;
  }
  .why__article__description {
    font-size: 1.5rem;
    line-height: 1.66;
  }
  .why__quality {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
  .why__quality__card {
    flex-direction: column;
    padding: 7.2rem 1.2rem 5.1rem 1.2rem;
    text-align: center;
  }
  .why__quality {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    margin-top: 6.4rem;
  }
  .how-works__box__line {
    display: none;
  }
  .how-works__box {
    margin-top: 8rem;
  }
  .how-works__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 71.7rem;
    padding: 0 1.5rem;
  }
  .how-works__infobox {
    margin-top: 4.8rem;
    grid-template-columns: 1fr;
    gap: 5.6rem;
  }
  .how-works__card {
    text-align: center;
  }
  .how-works__card__article {
    margin-top: 2.4rem;
    width: 32.7rem;
  }
  .how-works__card__description {
    width: 32.7rem;
    margin-top: 2.4rem;
  }
}
.about-container {
  background-image: url(../images/about/desktop/image-hero-whitecup.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45rem;
  border-radius: 1.5rem;
  margin-top: 4.3rem;
}

.about-article {
  padding-top: 13.7rem;
  padding-left: 8.5rem;
}

.about-article h1 {
  font-family: "Fraunces", cursive;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  color: #fefcf7;
  margin-bottom: 2.4rem;
}

.about-article p {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #fefcf7;
  width: 44.5rem;
}

.commit__container {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  margin-top: 12.5rem;
  margin-bottom: 20rem;
  display: flex;
  align-items: center;
  gap: 12rem;
}

.commit__picture {
  width: 44.5rem;
  height: 52rem;
  background-image: url(../images/about/desktop/image-commitment.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
}

.commit__article {
  width: 54rem;
}

.commit__title {
  font-family: "Fraunces", cursive;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  color: hwb(215 20% 71%);
}

.commit__description {
  margin-top: 3.2rem;
  opacity: 0.8;
}

.quality__container {
  margin-top: 25.6rem;
  background-image: url(../images/plan/desktop/bg-steps.png);
  background-color: hwb(215 20% 71%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  height: 47.4rem;
}

.quality__infobox {
  display: flex;
  align-items: center;
  gap: 12rem;
  padding: 0 8.5rem;
}

.quality__article {
  width: 54rem;
  color: #fefcf7;
}

.quality__title {
  font-family: "Fraunces", cursive;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
}

.quality__description {
  margin-top: 3.2rem;
  opacity: 0.8;
}

.quality__picture__img {
  border-radius: 1rem;
  margin-top: -9rem;
}

.location__container {
  margin-top: 16.8rem;
  padding-left: 8.5rem;
  padding-right: 15rem;
}

.location__title {
  margin-bottom: 7.2rem;
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.3;
  color: #83888f;
}

.country__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 9.5rem;
  margin-bottom: 16.8rem;
}

.country__map {
  margin-bottom: 4.6rem;
}

.country_name {
  margin-bottom: 2.4rem;
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.125;
  color: hwb(215 20% 71%);
}

.country__address {
  color: hwb(215 20% 71%);
}

.country__number {
  color: hwb(215 20% 71%);
}

@media screen and (max-width: 768px) {
  .about-container {
    background-image: url(../images/about/tablet/image-hero-whitecup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    margin-top: 5.3rem;
  }
  .about-article {
    padding-top: 11.8rem;
    padding-left: 5.8rem;
  }
  .about-article h1 {
    font-size: 3.2rem;
    line-height: 1.25;
    margin-bottom: 2.4rem;
  }
  .about-article p {
    font-size: 1.5rem;
    line-height: 1.6;
    width: 39.8rem;
  }
  .commit__container {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 14.4rem;
    gap: 1.9rem;
  }
  .commit__picture {
    width: 28.1rem;
    height: 47rem;
    background-image: url(../images/about/tablet/image-commitment.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
  }
  .commit__article {
    width: 33.9rem;
  }
  .commit__title {
    font-size: 3rem;
  }
  .commit__description {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 3rem;
    opacity: 0.8;
  }
  .quality__infobox {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 6.4rem;
    padding: 0 8.8rem;
  }
  .quality__picture__img {
    margin-top: -17rem;
  }
  .quality__article {
    margin-left: 2rem;
    text-align: center;
  }
  .quality__title {
    font-size: 3.2rem;
    line-height: 1.5;
  }
  .quality__description {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 2.4rem;
    opacity: 0.8;
  }
  .location__container {
    margin-top: 14.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .country__box {
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
    gap: 0.9rem;
    margin-bottom: 14.4rem;
  }
  .country__map {
    margin-bottom: 4.8rem;
  }
  .country_name {
    margin-bottom: 2.1rem;
    font-size: 2.4rem;
    line-height: 1.5;
  }
  .country__address {
    color: hwb(215 20% 71%);
  }
  .country__number {
    color: hwb(215 20% 71%);
  }
}
@media screen and (max-width: 400px) {
  .about-container {
    background-image: url(../images/about/mobile/image-hero-whitecup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    margin-top: 4rem;
  }
  .about-article {
    padding: 11.1rem 0.4rem 8.7rem 0.4rem;
    text-align: center;
    width: 27.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-article h1 {
    font-size: 2.8rem;
    line-height: 1;
  }
  .about-article p {
    font-size: 1.5rem;
    line-height: 1.6;
    width: 27.9rem;
  }
  .commit__container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 12rem;
    flex-direction: column;
    gap: 4.8rem;
  }
  .commit__picture {
    width: 32.7rem;
    height: 40rem;
    background-image: url(../images/about/mobile/image-commitment.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
  }
  .commit__article {
    text-align: center;
    width: 32.7rem;
  }
  .quality__container {
    margin-top: 19.8rem;
    height: 50.9rem;
  }
  .quality__infobox {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 6.4rem;
    padding: 0 4rem;
  }
  .quality__picture__img {
    margin-top: -8rem;
    width: 30rem;
  }
  .quality__article {
    margin-left: 1rem;
    width: 27.9rem;
    text-align: center;
  }
  .quality__title {
    font-size: 2.8rem;
    line-height: 1;
  }
  .quality__description {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 2.4rem;
    opacity: 0.8;
  }
  .location__container {
    margin-top: 14.4rem;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .country__box {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 8rem;
    margin-bottom: 12rem;
    text-align: center;
  }
  .country__map {
    padding-left: 14.2rem;
    padding-right: 14.2rem;
    margin-bottom: 4.8rem;
  }
  .country_name {
    margin-bottom: 2.2rem;
    font-size: 2.4rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 390px) {
  .about-article {
    padding: 11.1rem 0.1rem 8.7rem 2.8rem;
  }
}
@media screen and (max-width: 375px) {
  .about-article {
    padding: 11.1rem 0.4rem 8.7rem 1.8rem;
  }
}
.plan-container {
  margin-top: 4.3rem;
  background-image: url(../images/plan/desktop/image-hero-blackcup.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  border-radius: 1.5rem;
}

.plan-article {
  padding-top: 13.4rem;
  padding-left: 8.5rem;
}

.plan-article h1 {
  font-family: "Fraunces", cursive;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1;
  color: #fefcf7;
  margin-bottom: 3.2rem;
}

.plan-article p {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #fefcf7;
  max-width: 40rem;
}

.pickbox__container {
  margin-top: 16.8rem;
  background-image: url(../images/plan/desktop/bg-steps.png);
  background-color: hwb(215 20% 71%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
}

.pickbox__info {
  padding: 10rem 15rem 9.9rem 8.5rem;
}

.pickbox__line {
  max-width: 104.5rem;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2px;
  background-color: #fdd6ba;
}

.pickbox__line span {
  display: inline-block;
  width: 31px;
  height: 31px;
  background-color: #fff;
  border: 2px solid #0e8784;
  border-radius: 50%;
  background-color: hwb(215 20% 71%);
}

.pickbox__article {
  margin-top: 8.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 9.5rem;
}

.pickbox__card__number {
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 7.2rem;
  line-height: 1;
  color: #fdd6ba;
}

.pickbox__card__title {
  margin-top: 3.2rem;
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.125;
  color: #fefcf7;
  width: 25.5rem;
}

.pickbox__card__description {
  margin-top: 4.2rem;
  color: #fefcf7;
}

.order__container {
  padding-left: 8.5rem;
  padding-right: 8.5rem;
  margin-top: 16.8rem;
  display: flex;
  gap: 12.5rem;
}

.order__type {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4.9rem;
}

.order__type__card {
  display: flex;
  align-items: center;
  gap: 2.85rem;
}

.order__type__number {
  font-family: "Fraunces", cursive;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.6;
  color: #83888f;
  cursor: pointer;
}
.order__type__number:hover {
  color: #0e8784;
}

.order__type__name {
  font-family: "Fraunces", cursive;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.6;
  color: #83888f;
  cursor: pointer;
}
.order__type__name:hover {
  color: hwb(215 20% 71%);
}

.order__question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.8rem;
}

.order__question__box {
  width: 73rem;
}

.order__question__article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5.6rem;
}

.order__question__how {
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.2;
  color: #83888f;
}

.order__question__btn {
  background-color: #fefcf7;
  cursor: pointer;
  border: none;
}

.order__question__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
  gap: 2.3rem;
}

.order__question__choose {
  color: hwb(215 20% 71%);
  background-color: #f4f1eb;
  padding: 3.2rem 2.8rem 8.4rem 2.8rem;
  border-radius: 1rem;
}
.order__question__choose:hover {
  color: #fefcf7;
  background-color: #0e8784;
}

.order__question__title {
  width: 17.2rem;
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.3;
  margin-bottom: 2.4rem;
}

.order__question__description {
  width: 17.2rem;
}

.summery__box {
  width: 73rem;
  background-color: hwb(215 20% 71%);
  background-image: url(../images/plan/desktop/bg-order-summary.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.summery__card {
  padding: 2.7rem 6.4rem;
}

.summery__title {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #ffffff;
  opacity: 0.5;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.summery__description {
  font-family: "Fraunces", cursive;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.6;
  color: #fefcf7;
}

.summery__active {
  color: #0e8784;
}

.plan__box {
  align-self: end;
  margin-bottom: 16.8rem;
}

@media screen and (max-width: 768px) {
  .plan-container {
    background-image: url(../images/plan/tablet/image-hero-blackcup.jpg);
    margin-top: 5.3rem;
    height: 40rem;
  }
  .plan-article {
    padding-top: 12.7rem;
    padding-left: 5.8rem;
  }
  .plan-article h1 {
    font-size: 4.8rem;
    line-height: 1;
  }
  .plan-article p {
    font-size: 1.5rem;
    line-height: 1.66;
    max-width: 39.8rem;
  }
  .pickbox__container {
    margin-top: 14.4rem;
  }
  .pickbox__info {
    padding: 9.7rem 2rem 7rem 2rem;
  }
  .pickbox__article {
    margin-top: 4.8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
    gap: 0.5rem;
  }
  .pickbox__card__title {
    margin-top: 4.2rem;
    font-size: 2.8rem;
    line-height: 1.1;
    width: 22.3rem;
  }
  .pickbox__card__description {
    margin-top: 3.8rem;
    font-size: 1.5rem;
    line-height: 1.6;
    width: 22.3rem;
    color: #fefcf7;
  }
  .order__type {
    display: none;
  }
  .order__container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .order__question {
    gap: 10rem;
  }
  .order__question__box {
    width: 68.9rem;
  }
  .order__question__article {
    margin-bottom: 4rem;
  }
  .order__question__card {
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
    gap: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .plan-container {
    background-image: url(../images/plan/mobile/image-hero-blackcup.jpg);
    margin-top: 4rem;
    height: 40rem;
  }
  .plan-article {
    padding: 10rem 0;
    text-align: center;
  }
  .plan-article h1 {
    font-size: 4rem;
    line-height: 1;
  }
  .plan-article p {
    text-align: center;
    padding-left: 2.4rem;
    font-size: 1.5rem;
    line-height: 1.6;
    width: 27.9rem;
  }
  .pickbox__line {
    display: none;
  }
  .pickbox__container {
    margin-top: 12rem;
  }
  .pickbox__info {
    padding: 8rem 2.4rem 7.9rem 2.4rem;
  }
  .pickbox__article {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5.6rem;
  }
  .pickbox__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .pickbox__card__title {
    margin-top: 2.4rem;
    width: 32.7rem;
  }
  .pickbox__card__description {
    margin-top: 2.4rem;
    width: 32.7rem;
  }
}/*# sourceMappingURL=style.css.map */