.about-container {
  background-image: url(../images/about/desktop/image-hero-whitecup.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45rem;
  border-radius: 1.5rem;
  margin-top: 4.3rem;
}

.about-article {
  padding-top: 13.7rem;
  padding-left: 8.5rem;
}

.about-article h1 {
  font-family: $secondary-font;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  color: $light-cream;
  margin-bottom: 2.4rem;
}

.about-article p {
  font-family: $main-font;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: $light-cream;
  width: 44.5rem;
}

.commit__container {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  margin-top: 12.5rem;
  margin-bottom: 20rem;
  display: flex;
  align-items: center;
  gap: 12rem;
}

.commit__picture {
  width: 44.5rem;
  height: 52rem;
  background-image: url(../images/about/desktop/image-commitment.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
}

.commit__article {
  width: 54rem;
}

.commit__title {
  font-family: $secondary-font;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  color: $dark-grey-blue;
}

.commit__description {
  margin-top: 3.2rem;
  opacity: 0.8;
}

.quality__container {
  margin-top: 25.6rem;
  background-image: url(../images/plan/desktop/bg-steps.png);
  background-color: $dark-grey-blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  height: 47.4rem;
}

.quality__infobox {
  display: flex;
  align-items: center;
  gap: 12rem;
  padding: 0 8.5rem;
}

.quality__article {
  width: 54rem;
  color: $light-cream;
}

.quality__title {
  font-family: $secondary-font;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
}

.quality__description {
  margin-top: 3.2rem;
  opacity: 0.8;
}

.quality__picture__img {
  border-radius: 1rem;
  margin-top: -9rem;
}

.location__container {
  margin-top: 16.8rem;
  padding-left: 8.5rem;
  padding-right: 15rem;
}

.location__title {
  margin-bottom: 7.2rem;
  font-family: $secondary-font;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.3;
  color: $grey;
}

.country__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 9.5rem;
  margin-bottom: 16.8rem;
}

.country__map {
  margin-bottom: 4.6rem;
}

.country_name {
  margin-bottom: 2.4rem;
  font-family: $secondary-font;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.125;
  color: $dark-grey-blue;
}

.country__address {
  color: $dark-grey-blue;
}

.country__number {
  color: $dark-grey-blue;
}

@media screen and (max-width: 768px) {
  .about-container {
    background-image: url(../images/about/tablet/image-hero-whitecup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    margin-top: 5.3rem;
  }
  .about-article {
    padding-top: 11.8rem;
    padding-left: 5.8rem;
  }
  .about-article h1 {
    font-size: 3.2rem;
    line-height: 1.25;
    margin-bottom: 2.4rem;
  }
  .about-article p {
    font-size: 1.5rem;
    line-height: 1.6;
    width: 39.8rem;
  }
  .commit__container {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 14.4rem;
    gap: 1.9rem;
  }
  .commit__picture {
    width: 28.1rem;
    height: 47rem;
    background-image: url(../images/about/tablet/image-commitment.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
  }
  .commit__article {
    width: 33.9rem;
  }
  .commit__title {
    font-size: 3rem;
  }
  .commit__description {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 3rem;
    opacity: 0.8;
  }
  .quality__infobox {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 6.4rem;
    padding: 0 8.8rem;
  }
  .quality__picture__img {
    margin-top: -17rem;
  }
  .quality__article {
    margin-left: 2rem;
    text-align: center;
  }
  .quality__title {
    font-size: 3.2rem;
    line-height: 1.5;
  }
  .quality__description {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 2.4rem;
    opacity: 0.8;
  }
  .location__container {
    margin-top: 14.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .country__box {
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
    gap: 0.9rem;
    margin-bottom: 14.4rem;
  }
  .country__map {
    margin-bottom: 4.8rem;
  }
  .country_name {
    margin-bottom: 2.1rem;
    font-size: 2.4rem;
    line-height: 1.5;
  }
  .country__address {
    color: $dark-grey-blue;
  }
  .country__number {
    color: $dark-grey-blue;
  }
}

@media screen and (max-width: 400px) {
  .about-container {
    background-image: url(../images/about/mobile/image-hero-whitecup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    margin-top: 4rem;
  }
  .about-article {
    padding: 11.1rem 0.4rem 8.7rem 0.4rem;
    text-align: center;
    width: 27.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-article h1 {
    font-size: 2.8rem;
    line-height: 1;
  }
  .about-article p {
    font-size: 1.5rem;
    line-height: 1.6;
    width: 27.9rem;
  }
  .commit__container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 12rem;
    flex-direction: column;
    gap: 4.8rem;
  }
  .commit__picture {
    width: 32.7rem;
    height: 40rem;
    background-image: url(../images/about/mobile/image-commitment.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
  }
  .commit__article {
    text-align: center;
    width: 32.7rem;
  }
  .quality__container {
    margin-top: 19.8rem;
    height: 50.9rem;
  }
  .quality__infobox {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 6.4rem;
    padding: 0 4rem;
  }
  .quality__picture__img {
    margin-top: -8rem;
    width: 30rem;
  }
  .quality__article {
    margin-left: 1rem;
    width: 27.9rem;
    text-align: center;
  }
  .quality__title {
    font-size: 2.8rem;
    line-height: 1;
  }
  .quality__description {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 2.4rem;
    opacity: 0.8;
  }
  .location__container {
    margin-top: 14.4rem;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .country__box {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 8rem;
    margin-bottom: 12rem;
    text-align: center;
  }
  .country__map {
    padding-left: 14.2rem;
    padding-right: 14.2rem;
    margin-bottom: 4.8rem;
  }
  .country_name {
    margin-bottom: 2.2rem;
    font-size: 2.4rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 390px) {
  .about-article {
    padding: 11.1rem 0.1rem 8.7rem 2.8rem;
  }
}

@media screen and (max-width: 375px) {
  .about-article {
    padding: 11.1rem 0.4rem 8.7rem 1.8rem;
  }
}
