.about-container {
  background-image: url(../images/about/desktop/image-hero-whitecup.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45rem;
  border-radius: 1.5rem;
  margin-top: 4.3rem;
}

.about-article {
  padding-top: 13.7rem;
  padding-left: 8.5rem;
}

.about-article h1 {
  font-family: $secondary-font;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  color: $light-cream;
  margin-bottom: 2.4rem;
}

.about-article p {
  font-family: $main-font;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: $light-cream;
  width: 44.5rem;
}

@media screen and (max-width: 768px) {
  .about-container {
    background-image: url(../images/about/tablet/image-hero-whitecup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    margin-top: 5.3rem;
  }
  .about-article {
    padding-top: 11.8rem;
    padding-left: 5.8rem;
  }
  .about-article h1 {
    font-size: 3.2rem;
    line-height: 1.25;
    margin-bottom: 2.4rem;
  }
  .about-article p {
    font-size: 1.5rem;
    line-height: 1.6;
    width: 39.8rem;
  }
}

@media screen and (max-width: 400px) {
  .about-container {
    background-image: url(../images/about/mobile/image-hero-whitecup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    margin-top: 4rem;
  }
  .about-article {
    padding: 11.1rem 2.4rem;
    text-align: center;
    width: 27.9rem;
  }
  .about-article h1 {
    font-size: 2.8rem;
    line-height: 1;
  }
  .about-article p {
    font-size: 1.5rem;
    line-height: 1.6;
    width: 27.9rem;
  }
}
